{% extends 'base.html' %}
{% block content %}
    <div class="profile-container">
    {% if profile.user.first_name and profile.user.last_name %}
        <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}'s Profile</h1>
    {% elif profile.user.first_name %}
        <h1>{{ profile.user.first_name }}'s Profile</h1>
    {% else %}
        <h1>{{ profile.user.username }}'s Profile</h1>
    {% endif %}
    {% if profile.is_musician %}
        <span class="musician-tag">Musician</span>
    {% endif %}
    
    {% if profile.profile_pic %}
        <img src="{{ profile.profile_pic }}" alt="Profile Picture" width="150" height="150">
    {% else %}
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="Profile Picture" width="150" height="150">
    {% endif %}
        {% if not profile.user.last_name %}
            <p><strong>Username:</strong> {{ profile.user.username }}</p>
        {% elif profile.user.first_name and profile.user.last_name %}
            <p><strong>Username:</strong> {{ profile.user.username }}</p>
        {% endif %}
        <p>
            <strong>Age:</strong>
                {% if profile.age %}{{ profile.age }}{% else %}N/A{% endif %}
        <p>
            <strong>City:</strong>
                {% if profile.city %}{{ profile.city }}{% else %}N/A{% endif %}
        </p>
        <div><strong>Music Genres:</strong> 
            {% for genre in profile.music_genre_preferences.all %}
                {{ genre.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                N/A
            {% endfor %}
                <br>
        <br>
        </div>
        <p><a href="{% url 'profile-posts-other' username=username %}">Posts</a></p>
        <p><a href="{% url 'profile-concerts-other' username=username %}">Concerts</a></p>
        <p><a href="{% url 'profile-festivals-other' username=username %}">Festivals</a></p>
        
    </div>
{% endblock %}