{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="delete-confirmation">
    <h2>Are you sure you want to delete your profile?</h2>
    <p>This action cannot be undone.</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Yes, delete my profile</button>
    </form>
  </div>
    <button><a href="{% url 'profile-details' %}" class="btn btn-primary">Cancel</a></button>
    <script src="{% static 'js/delete-confirmation.js' %}"></script>
{% endblock %}