{% extends 'base.html' %}
{% block content %}
    {% load get_model_name %}
<div class="about-container">
<h2>Search Results</h2>
<br>
{% if results %}
    <p>Total results: <strong>{{ total_results }}</strong></p>
    <ul>
        {% for result in results %}
            <li>
                {% if result|to_class_name == 'User' %}
                    <h3><strong><a href="{% url 'profile-other' result.username %}">{{ result.username }}</a></strong></h3>
                    <br>
                     {% if result.profile.is_musician %}<p>Musician</p>{% endif %}
                    <p>Location: {% if not result.profile.city %} N/A {% else %} {{ result.profile.city }} {% endif %}</p>
                    <p>Age: {% if not result.profile.age %} N/A {% else %} {{ result.profile.age }} {% endif %}</p>
                    <p><strong>Genres:</strong>
                         {% for genre in result.profile.music_genre_preferences.all %}
                        <span>{{ genre.name }}</span>{% if not forloop.last %}, {% endif %}
                             {% empty %}
                             <span> N/A </span>
                    {% endfor %}
                    </p>
                    
                {% elif result|to_class_name == 'Post' %}
                    <h2>Post title: <a href="{% url 'post-details' result.pk %}">{{ result.title }}</a></h2>
                    <br>
                    <p>By: <a href="{% url 'profile-other' result.author.username %}">{{ result.author.username }}</a></p>
                    <p>{{ result.created_at }}</p>
                    <p><strong>Genres:</strong>
                    {% for genre in result.genres.all %}
                        <span>{{ genre.name }}</span>{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        <span> N/A </span>
                    {% endfor %}
                    </p>
                {% elif result|to_class_name == 'Concert' %}
                    <h2><strong><a href="{% url 'concert-details' result.pk %}">{{ result.title }}</a></strong>
                        by 
                        <a href="{% url 'profile-other' result.musician.username %}">{{ result.musician.username }}</a></h2>
                    <br>
                    <p>Location: {{ result.location }}</p>
                    <p>Date: {{ result.date|date:"F j, Y, g:i a" }}</p>
                    <p><strong>Genres:</strong>
                    {% for genre in result.genres.all %}
                        <span>{{ genre.name }}</span>{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        <span> N/A </span>
                    {% endfor %}
                    </p>
                {% elif result|to_class_name == 'Festival' %}
                     <h2><a href="{% url 'festival-details' result.pk %}">{{ result.title }}</a></h2>
                    <br>
                    <p>Location: {{ result.location }}</p>
                    <p>Start date: {{ result.start_date }} - End date: {{ result.end_date }}</p>
                    <p><strong>Genres:</strong>
                    {% for genre in result.genres.all %}
                        <span>{{ genre.name }}</span>{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        <span> N/A </span>
                    {% endfor %}
                    </p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    <!-- Pagination -->
{% if is_paginated %}
    <div class="pagination">
        <ul>
            <!-- "Previous" button -->
            {% if page_obj.has_previous %}
                <li><a href="?query={{ query }}&category={{ category }}&page=1">&laquo; First</a></li>
                <li><a href="?query={{ query }}&category={{ category }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
        
            <!-- Numbered page links -->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="active"><span>{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li><a href="?query={{ query }}&category={{ category }}&page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
        
            <!-- "Next" button -->
            {% if page_obj.has_next %}
                <li><a href="?query={{ query }}&category={{ category }}&page={{ page_obj.next_page_number }}">Next</a></li>
                <li><a href="?query={{ query }}&category={{ category }}&page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
{% else %}
    <br>
    <br>
    <p>No results found for "{{ query }}" in the selected category.</p>
{% endif %}
</div>
    
{% endblock %}