{% extends 'base.html' %}
{% block content %}



{% if posts %}
        <h1>Here is what you've posted</h1>
        <ul>
        {% for post in posts %}
            <li>
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <p><strong>Genres:</strong>
                    {% for genre in post.genres.all %}
                        <span>{{ genre.name }}</span>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                    <button class="like-btn" data-post-id="{{ post.id }}" data-url="{% url 'like-post' %}">
                        <i class="fa fa-heart{% if request.user in post.likes.all %} liked{% endif %}"></i>
                        <span class="like-count">{{ post.total_likes }}</span>
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    </button>
                <a href="{% url 'post-details' post.pk %}" class="btn btn-primary">Details</a>
                <a href="{% url 'post-edit' post.pk %}" class="btn btn-primary">Edit</a>
            </li>
        {% endfor %}
        </ul>
        
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/profile/posts/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/profile/posts/?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
                
        {% endif %}
    {% else %}
        <h1>Seems like you have not created any posts yet. You can create your first post now! </h1>
    {% endif %}

{% endblock %}