{% extends 'base.html' %}

{% block content %}
    <div class="about-container">
<h1>Festivals You're Attending</h1>

{% if festivals %}
    <ul>
        {% for festival in festivals %}
            <li>
                <h2><a href="{% url 'festival-details' festival.pk %}">{{ festival.title }}</a></h2>
            <br>
                <p>Dates: {{ festival.start_date }} - {{ festival.end_date }}</p>
                <p><strong>Genres:</strong> 
                <span class="genres">
                    {% if festival.genres.all %}
                        <span>{{ festival.genres.all|join:", " }}</span>
                    {% else %}
                        <span>No genres specified.</span>
                    {% endif %}
                </span></p>
                {% if festival.concerts.all %}
                    <br>
                    <h3>Concerts in this festival:</h3>
                    <ul>
                        {% for concert in festival.concerts.all %}
                            
    
                            <li>
                                <p>Concert: <a href="{% url 'concert-details' concert.pk %}">
                                    {{ concert.title }}</a>
                                    by <a href="{% url 'profile-other' concert.musician.username %}">
                                        {{ concert.musician.username }}
                                    </a>
                                </p>
                                <p>Date: {{ concert.date }}</p>
                                <p>Location: {{ concert.location }}</p>
                                <p>Concertgoers: {{ concert.concertgoers.count }}</p>
                                {% if request.user in concert.concertgoers.all %}
                                    <p> You are also going!</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No concerts added yet.</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <br>
    <p>You are not attending any festivals yet.</p>
{% endif %}
    </div>
{% include 'common/pagination.html' %}
{% endblock %}