{% extends 'base.html' %}
{% block content %}
    <div class="about-container">
{% if posts %}
        <h1>Here is what you've posted</h1>
        <ul>
        {% for post in posts %}
            <li>
                <h3>{{ post.title }}</h3>
            <br>
                <p>- {{ post.content }}</p>
            <br>
                <p><strong>Genres:</strong>
                    {% for genre in post.genres.all %}
                        <span>{{ genre.name }}</span>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% if post.comments.all %}
                    {% if post.comments.count == 1 %}
                        <p>1 Comment</p>
                    {% else %}
                        <p>{{ post.comments.count }} Comments</p>
                    {% endif %}
                {% endif %}
                    <button class="like-btn" data-post-id="{{ post.id }}" data-url="{% url 'like-post' %}">
                        <i class="fa fa-heart{% if request.user in post.likes.all %} liked{% endif %}"></i>
                        <span class="like-count">{{ post.total_likes }}</span>
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    </button>
                <div class="btn-group">
                    <a href="{% url 'post-details' post.pk %}" class="btn btn-primary">Details</a>
                    <a href="{% url 'post-edit' post.pk %}" class="btn btn-primary">Edit</a>
                </div>    
            </li>
        {% endfor %}
        </ul>
    {% include 'common/pagination.html' %}
    {% else %}
    <h1>Seems like you have not created any posts yet. You can <a href="{% url 'post-create' %}">create your first post</a> now! </h1>
    {% endif %}
    </div>
{% endblock %}