{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Along</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <a href="{% url 'index' %}">
                <div class="logo-img">
                    <img src="https://th.bing.com/th/id/OIP.7-3p8kxlxqx80d0vhSv_MgAAAA?w=360&h=360&rs=1&pid=ImgDetMain" alt="logo">
                </div>
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="top-banner">
                <form class="search-form" method="get" action="{% url 'general-search' %}">
                    <input type="text" name="query" placeholder="Search..." value="{{ request.GET.query }}">
                    <select name="category">
                        <option value="users" {% if request.GET.category == 'users' %}selected{% endif %}>Users</option>
                        <option value="posts" {% if request.GET.category == 'posts' %}selected{% endif %}>Posts</option>
                        <option value="concerts" {% if request.GET.category == 'concerts' %}selected{% endif %}>Concerts</option>
                        <option value="festivals" {% if request.GET.category == 'festivals' %}selected{% endif %}>Festivals</option>
                        <option value="musicians" {% if request.GET.category == 'musicians' %}selected{% endif %}>Musicians</option>
                    </select>
                    <button type="submit">Search</button>
                </form>
            </div>
            <nav class="nav-links">
                {% if user.profile.profile_pic %}
                    <a>
                        <img src="{{ user.profile.profile_pic }}" alt="Profile Picture" width="70" height="auto">
                    </a>
                {% else %}
                    <a>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg" alt="Profile Picture" width="70" height="auto">
                    </a>
                {% endif %}
                <a href="{% url 'profile-details' %}">Profile</a>
                <a href="{% url 'concert-dashboard' %}">Concerts</a>
                <a href="{% url 'festival-dashboard' %}">Festivals</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'logout' %}">Logout</a>
            </nav>
        {% else %}
            <nav class="nav-links">
                <a href="{% url 'signup' %}">Signup</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'about' %}">About</a>
            </nav>
        {% endif %}
    </header>

    <!-- Page content below -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
<script src="{% static 'js/js-like-func.js' %}"></script>
</body>
</html>



