{% extends 'base.html' %}
{% block content %}
    <div class="about-container">
{% if user.is_authenticated %}
    {% if last_name and first_name %}
        <h1>Hello {{ first_name }} {{ last_name }} and welcome to our world of music!</h1>
    {% elif first_name %}
        <h1>Hello {{ first_name }} and welcome to our world of music!</h1>
    {% else %}
        <h1>Hello {{ username }} and welcome to our world of music!</h1>
    {% endif %}
    <div class="btn-group">
        <button><a class="btn btn-primary" href="{% url 'post-create' %}">Create a post</a></button>
    </div>
    <br>
    <br>
    {% if posts %}
        <h2>These posts may interest you</h2>
        <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <br>
                <p>- {{ post.content }}</p>
            <br>
                <p>Author: <a href="{% url 'profile-other' post.author.username %}">{{ post.author.username}}</a></p>
                <p><strong>Genres:</strong>
                    {% for genre in post.genres.all %}
                        <span>{{ genre.name }}</span>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% if post.comments.all %}
                    {% if post.comments.count == 1 %}
                        <p>1 Comment</p>
                    {% else %}
                        <p>{{ post.comments.count }} Comments</p>
                    {% endif %}
                {% endif %}
                <button class="like-btn" data-post-id="{{ post.id }}" data-url="{% url 'like-post' %}">
                    <i class="fa fa-heart{% if request.user in post.likes.all %} liked{% endif %}"></i>
                    <span class="like-count">{{ post.total_likes }}</span>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </button>
                <div class="btn-group">
                    <a href="{% url 'post-details' post.pk %}" class="btn btn-primary">Details</a>
                    {% if post.author == user %}
                        <a href="{% url 'post-edit' post.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'post-delete' post.pk %}" class="btn btn-danger">Delete</a>
                
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
        {% include 'common/pagination.html' %}
        
    {% else %}
        <br>
        <h3>No posts found with your preferred genres.</h3>
        <p><br><br>You can modify your Genre Preferences <a href="{% url 'profile-edit' %}">here</a>.</p>
    {% endif %}
{% else %}
    <h1>You are not logged in. Please <a href="{% url 'login' %}">log in</a> to browse NoteAlong</h1>
    <br>
    <h2>If you don't have an account you can <strong><a href="{% url 'signup' %}">sign up</a></strong> for free to join our music world!</h2>
{% endif %}
    </div>
{% endblock %}