{% extends 'base.html' %}
{% block content %}
    
{% if user.is_authenticated %}
    {% if last_name and first_name %}
        <h1>Hello {{ first_name }} {{ last_name }}</h1>
    {% elif first_name %}
        <h1>Hello {{ first_name }}</h1>
    {% else %}
        <h1>Hello {{ username }}</h1>
    {% endif %}
    
    <a href="{% url 'post-create' %}">Create a post</a>
    
    {% if posts %}
        <p>These posts may interest you</p>
        <ul>
        {% for post in posts %}
            <li>
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <p>Author: {{ post.author.username}}</p>  {#  add author anchor with link to user profile  #}
                <p><strong>Genres:</strong>
                    {% for genre in post.genres.all %}
                        <span>{{ genre.name }}</span>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                    <button class="like-btn" data-post-id="{{ post.id }}" data-url="{% url 'like-post' %}">
                        <i class="fa fa-heart{% if request.user in post.likes.all %} liked{% endif %}"></i>
                        <span class="like-count">{{ post.total_likes }}</span>
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    </button>
                <a href="{% url 'post-details' post.pk %}" class="btn btn-primary">Details</a>
                {% if post.author == user %}
                    <a href="{% url 'post-edit' post.pk %}" class="btn btn-primary">Edit</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        
        {% if is_paginated %}
            <div class="pagination">
                <ul>
                    <!-- "Previous" button -->
                    {% if page_obj.has_previous %}
                        <li><a href="?page=1">&laquo; First</a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
        
                    <!-- Numbered page links -->
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="active"><span>{{ num }}</span></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
        
                    <!-- "Next" button -->
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        
    {% else %}
        <p>No posts found with your preferred genres.</p>
    {% endif %}
{% else %}
    <p>You are not logged in. Please <a href="{% url 'login' %}">log in</a> to view personalized posts.</p>
    <p>If you don't have an account you can <a href="{% url 'signup' %}">sign up</a> for free to join our music world!</p>
{% endif %}
    
{% endblock %}