{% extends 'base.html' %}

{% block content %}
    <div class="about-container">
<h1>{{ festival.title }}</h1>
        <br>
<p><strong>Start Date:</strong> {{ festival.start_date }}</p>
<p><strong>End Date:</strong> {{ festival.end_date }}</p>
<p><strong>Location:</strong> {{ festival.location }}</p>
<p><strong>Genres:</strong>
    {% if festival.genres.all %}
        {% for genre in festival.genres.all %}
        {{ genre.name }}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% else %}
        No genres specified.
    {% endif %}
<p><strong>Description:</strong> {{ festival.description }}</p>
<br>
<h3>Concerts in this Festival:</h3>
<ul>
    {% for concert in concerts %}
        <li>
            <p><strong><a href="{% url 'concert-details' concert.pk %}">{{ concert.title }}</a></strong>
                by <a href="{% url 'profile-other' concert.musician.username %}">{{ concert.musician.username }}</a> on {{ concert.date }}</p>
            <p><strong>Genres:</strong>
                {% if concert.genres.all %}
                    {% for genre in concert.genres.all %}
                    {{ genre.name }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    No genres specified.
                {% endif %}
            </p>
        </li>
    {% endfor %}
</ul>
    </div>
{% endblock %}