<html>
<head>
    <title>Concert Registration Confirmation</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>Thank you for registering your concert with us!</p>
    <p>Here are the details you provided:</p>
    <ul>
        <li><strong>Title:</strong> {{ concert_title }}</li>
        <li><strong>Date:</strong> {{ concert_date }}</li>
        <li><strong>Location:</strong> {{ concert_location }}</li>
 
    </ul>
    <p>We will review if the concert is a part of a festival and make the correct modifications.</p>
    <p>We are looking forward to our users joining you for a celebration!</p>
    <p>Best Regards,</p>
    <p><strong>Note Along</strong></p>
</body>
</html>